.top-op,
.top-op2 {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}
.top-op {
  z-index: 99;
  background: #f2f2f2;
  animation-duration: 1.2s;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
  animation-name: top-op;
}
.top-op2 {
  z-index: 100;
  background: #e2e2e2;
  animation-duration: 0.7s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  animation-name: top-op2;
}

@keyframes top-op {
  0% {
    width: 100%;
    left: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}
@keyframes top-op2 {
  0% {
    width: 100%;
    left: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}

.op {
  position: relative;
}

.op h1 {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 12em;
  text-align: center;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.op nav {
  position: absolute;
  color: white;
  font-size: 2em;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.op img {
  width: 100%;
}

li {
  display: inline-block;
  list-style: none;
  padding: 17px;
}

li + li {
  border-left: 2px solid white;
}

a {
  color: white;
  position: relative;
  text-decoration: none;
}

body {
  background-color: rgb(73, 1, 1);
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: left;
}

article {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 5px #999;
}
article figure {
  margin-right: 20px;
}
.text_content {
  max-width: 750px;
}
article figure img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}
a {
  color: white;
  position: relative;
  text-decoration: none;
}
li {
  display: inline-block;
  list-style: none;
  padding: 12px;
}

li + li {
  border-left: 2px solid white;
}

.fade-in-bottom {
  opacity: 0;
  animation-name: fadein-bottom;
  animation-delay: 4s;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadein-bottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sentence {
  opacity: 0;
  animation-name: fadein-bottom;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadein-bottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
h2 {
  text-align: center;
  color: white;
}

h4 {
  text-align: center;
  color: white;
}



h3{
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 5px #999;
}

b{
  text-align: left;
  color: white;
  font-size: 2em;
  
}

p{
text-align: left;
  color: white;
  font-size: 1em
}

.figure2{
  display: flex;
  position: relative;
}





